Flask==2.3.3
Flask-CORS==5.0.0
pymongo==4.6.1
dnspython==2.6.1
redis==5.0.7
aiohttp==3.9.0
beautifulsoup4==4.12.2
lxml==5.1.0
requests==2.31.0
APScheduler==3.10.4
gunicorn==21.2.0
fastapi
uvicorn
deep-translator
pydantic
